html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}
#h2Style {
    color: #032121;
    font-family: 'Anton', sans-serif;
}

#bigcard {
    display: block;
}

#inline {
    margin: auto;
    width: 75%;
}

.body-rain {
    background-image: URL("rain.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.body-clear {
    background-image: URL("clear.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.body-cloudy {
    background-image: URL("cloudy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.body-thunder {
    background-image: URL("thunder.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.body-snow {
    background-image: URL("snow.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}


#bottombuttons {
    display: inline-flex;
}

#newStyle{
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(315deg, #7da6c4, #95c5e9);
    box-shadow:  -9px -9px 20px #486071, 
                 9px 9px 20px #ceffff;
   }

#newStyle2{
    height: 427px;
    padding: 20px;
    width: 172px;
    border-radius: 50px;
    background: linear-gradient(315deg, #c4a37d, #e9c295);
    box-shadow:  -9px -9px 20px #715e48, 
                 9px 9px 20px #ffffce;
      }


#generate-movie{
    margin-left: 155px;
    border-radius: 79px;
    background: linear-gradient(315deg, #5073ad, #5f89cd);
    box-shadow:  -9px -9px 20px #446192, 
                  9px 9px 20px #6e9fee;
}

#generate-trending{
    margin-left: 155px;
    width: 215px;
    height: 40px;
    border-radius: 79px;
    background: linear-gradient(315deg, #5073ad, #5f89cd);
    box-shadow:  -9px -9px 20px #446192, 
                  9px 9px 20px #6e9fee;
}

#linkcity {
    display: inline;
    padding: 0px;
}

/* .fondoStyle{
  
  background-image: url("bk1.png");
} */

.banner {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 250px;
}

.card-image {
    height: 250px;
}

.wrapper {
    padding: 20px;
    margin: auto;
    position: relative;
    top: 10px;
    bottom: auto;
    left: auto;
    right: 96px;
    width: 100%;
}

.card-stacked {
    bottom: 50px;
    position: relative;
}

.snacks {
    display: inline-block;
    padding: 0px;
}
